<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="listaPeliculas" class="java.util.ArrayList"></bean>
	
	<bean id="numeroMaxPeliculas" class="java.lang.Integer">
		<constructor-arg value="3"></constructor-arg>
	</bean>
	
	<bean id="daoPelicula" class="modelo.persistencia.DaoPelicula">
		<property name="listaPeliculas" ref="listaPeliculas"></property>
		<property name="maxNumeroPeliculas" ref="numeroMaxPeliculas"></property>
	</bean>
	
	<bean id="gestorPelicula" class="modelo.negocio.GestorPelicula" autowire="byType">
	</bean>
	
	<bean id="director" class="modelo.entidad.Director" scope="prototype">
	</bean>
	
	<bean id="pelicula" class="modelo.entidad.Pelicula" scope="prototype" autowire="byType">
	</bean>

</beans>
